robotframework
robotframework-seleniumlibrary
selenium
PyYAML
robotframework-autoitlibrary
robotframework-excellentlibrary
robotframework-excellib
openpyxl
robotframework-datadriver
robotframework-databaselibrary
robotframework-excelutil
pymysql