robotframework
robotframework-faker
robotframework-seleniumlibrary
selenium
PyYaml
pillow
robotframework-excellib
robotframework-excelutil
robotframework-excellentlibrary
robotframework-datadriver
robotframework-datadriver[XLS]
Openpyxl
rpaframework
robotframework-databaselibrary
pymysql
# AngularJSLibrary
robotframework-lint
robotframework-gherkin
